---
/**
 * Comprobacion de que no se duplique el objeto FrontData en window
 */
 import F2C from '../../front2client/Front2Client.astro';

// Definimos la variable que viene desde el frontmatter
const variableFrontmatter = 'Esto es nuevo';
---
{/* Pasamos la variable del frontmatter como prop al componente F2C */}
<F2C frontmatterData={{ variableFrontmatter }}></F2C>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Front 2 Client example</title>
	</head>
	<body>
		<h1 id="target">Astro</h1>
	</body>
</html>

<script>
	// Código del lado cliente en JavaScript
	
	// importamos el getter para obtener las variables desde el FrontMatter
	import { getFrontData } from "../../front2client/getFrontData";

	// Accedemos a los datos que fueron inyectados en el objeto global `window`
	const variablesFrontmatter = getFrontData();


	// Uso de las variables Frontmatter desde el cliente
	console.log(variablesFrontmatter.variableFrontmatter);
	
	console.log(variablesFrontmatter.variableFrontmatter2); // Esto debe de dar undefined debido a que se mantiene el ambito de la variable
	
</script>
